@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
  background-color: #1F1A17;
  margin-bottom: 60px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2D2120; /* Change the background color as needed */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    padding: 10px 0;
    z-index: 10;
  }
  
  .nav-item {
    text-align: center;
  }
  
  .nav-item i {
    font-size: 20px; /* Adjust icon size as needed */
    color: #D6C1B9;
  }

  .nav-item i, .nav-item span {
    transition: color 0.3s ease;
}

.nav-item:hover i, .nav-item:hover span {
    color: #f4f1ef;
}
  
  .nav-item span {
    display: block;
    font-size: 12px; /* Adjust text size as needed */
    color: #918180;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: transparent; /* Change as needed */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .left-header, .right-header {
    display: flex;
    align-items: center;
  }
  
  .left-header i, .right-header i {
    font-size: 30px; /* Adjust icon size as needed */
    margin: 10px; /* Space between icon and text */
    color: #f4f1ef;
  }
  
  .left-header span {
    font-size: 16px; /* Adjust text size as needed */
    color: #f4f1ef;
    margin-left: 5px;
  }

  .tenant-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .tenant-info {
    background-color: #7A2F0E; /* White background for better readability */
    border: 1px solid #785757;
    padding: 20px;
    border-radius: 10px; /* Rounded corners for a softer look */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}
  
  .tenant-info:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
    transform: translateY(-5px); /* Slight raise effect on hover */
  }
  
  .tenant-info h3 {
    color:  #e0e0e0;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .tenant-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tenant-info li {
    background: rgba(110, 92, 86, 0.75);
    color: #e0e0e0;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures content is spaced out to the edges */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  }
  .tenant-info li:hover {
    background-color: rgba(84, 68, 62, 0.85); /* Darker background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
  }
  .tenant-info i {
    margin-right: 10px; /* Space between icon and text */
    color: #e0e0e0; /* Light color for icons */
  }

  .tenant-info .label {
    flex-grow: 1; /* Allows the label to take up any extra space */
  }
  
  .tenant-info .value {
    text-align: right; /* Aligns the value to the right */
    flex-shrink: 0; /* Prevents the value from shrinking */
  }


  .floating-button {
    position: fixed;
    bottom: 100px; /* Adjust this value to position the button above the bottom navbar */
    right: 50px; /* Adjust this value to position the button from the right edge */
    width: 80px; /* Width of the button */
    height: 80px; /* Height of the button */
    background-color: #7A2F0E; /* Background color of the button */
    color: #fff; /* Color of the icon */
    border-radius: 50%; /* Makes the button circular */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .floating-button:hover {
    transform: scale(1.1); /* Slightly enlarges the button on hover */
  }
  
  .floating-button i {
    font-size: 24px; /* Size of the icon */
  }

  #popup-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B85835;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px;
    width: 90%;
    text-align: center;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content input,
  .modal-content select,
  .modal-content button {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFDD0;
    color: #252525;
  }
  
  .modal-content button {
    background-color: #0E7A5A;
    color: white;
    cursor: pointer;
  }

  .delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 120px;
    text-align: center;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }


.show-pdf-btn{
  background-color: red;
  z-index: 100;
}